#home{
    min-height: 100vh;
}

.home__title{
    text-align: center;
    font-size: 4em;
    letter-spacing: .1em;
}

.highlight{
    font-family: 'Caveat', cursive;
    text-transform: uppercase;
    filter: invert(1);
}