#home {
  min-height: 100vh;
}

.home__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__title > h1,
.highlight {
  display: flex;
  text-align: center;
  font-size: 4em;
  letter-spacing: 0.1em;
}

.highlight {
  color: var(--accent);
  font-family: "Caveat", cursive;
  text-transform: uppercase;
}

.home__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.home__btns > button{
  color: var(--black);
  text-transform: none;
}
