.projectList__row{
    padding: 0 4em;
}

.projectList{
    padding: 1em;
    border-radius: 1em;
    border: .2em solid transparent;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 300ms ease;
}

.projectList:hover{
    background-color: var(--accentHover);
    border-color:  var(--accent);
}