#projectFocus{
    min-height: 100vh;
}

.projectFocus__row{
    padding-top: 2em;
    gap: 2em;
}

.highlight > h1{
    color: var(--accent);
}

.projectFocus__img{
    display: flex;
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: .5em;
    overflow: hidden;
}